@import "../../Utilities/variables.scss";
@import "../../Utilities/utilities.scss";

.container {
  position: relative;
  padding: 20px;
  min-height: 900px;
  overflow: hidden;
  font-size: 12px;

  @include flexB;
  flex-direction: column;

  &::before {
    width: 100%;
    height: 80%;
    position: absolute;
    top: 15%;
    left: 0;
    content: "";
    background-image: url("../../assets/Photos/2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    opacity: 0.5;
  }

  .logo {
    display: none;
  }
}

.description {
  font-family: "FuturaPTBold";
  color: $pink;
  font-size: 20px;
  width: 100%;
  z-index: 5;
}

.care__options {
  z-index: 5;
  display: flex;
  justify-content: center;

  background-image: linear-gradient(
    to top,
    rgb(255, 255, 255) 50%,
    transparent
  );
  min-height: 100px;

  .options__image {
    width: clamp(350px, 70%, 400px);
    margin: 10px auto;
  }
}

.mobileAndOnlineDiets {
    display: grid;
    align-items: end;
    justify-items: row;
    direction: rtl;
    grid-template-columns: 1fr 1fr;
    gap: 160px;
    margin-left: 225px;
    margin-top: 16px;

    &__innerContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    &__pictureContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__paragraph {
        color: $pink;
        font-family: "FuturaPTBold";
        font-size: clamp(16px, 2vw, 32px);
        word-wrap: break-word;
        text-align: center;
    }
}

@media screen and (min-width: 900px) {
  .mobileAndOnlineDietsSection {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        align-items: center;
    }

  .container {
    align-items: start;
    &::before {
      top: 0;
      background-image: url("../../assets/Photos/startowa.jpg");
    }

    .logo {
      display: block;
      width: 50%;
      z-index: 5;
    }
  }

  .description {
    margin: 20px;
    max-width: 700px;
    font-size: 48px;
    line-height: 48px;
  }

  .care__options {
    justify-content: start;
    .options__image {
      width: 566px;
      margin: 20px 0px 0px 60px;
    }
  }
}
