@import "../../Utilities/variables.scss";

@mixin button-style {
  background: #ffffff;
  border: 2px solid $darkGreen;
  border-radius: 6px;
  padding: 10px 15px;
  color: $darkGreen;
  text-transform: uppercase;
  font-family: "FuturaPTBold";
  &:hover {
    cursor: pointer;
  }
}

.btn {
  @include button-style;

  &__choose{
    width: 90px;
  }

  &__showOnDesktop {
    @include button-style;
    margin: 20px 0;
    align-self: flex-end;
    justify-self: center;
    display: none;
    font-size: 24px;

    @media screen and (min-width: 1024px) {
      display: block;
    }
  }

  &__hideOnDesktop {
    @include button-style;
    display: block;

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }
}

.transparent {
  background: transparent;
}

.small {
  font-size: 12px;
  padding: 4px 8px;
}

@media screen and (min-width: 600px) {
  .btn {
    font-size: 24px;
    border: 3px solid #005b26;
    border-radius: 10px;
    padding: 10px 25px;
  }
  .small {
    font-size: 16px;
    padding: 10px 12px;
  }
}
