@import "../../Utilities/variables.scss";

.btn {
  background: #ffffff;
  border: 2px solid $darkGreen;
  border-radius: 6px;
  padding: 10px 15px;
  color: $darkGreen;
  text-transform: uppercase;
  font-family: "FuturaPTBold";
  &:hover {
    cursor: pointer;
  }

  &__hideOnDesktop {
    background: #ffffff;
    border: 2px solid $darkGreen;
    border-radius: 6px;
    padding: 10px 15px;
    color: $darkGreen;
    text-transform: uppercase;
    font-family: "FuturaPTBold";
    &:hover {
      cursor: pointer;
    }
    @media screen and (min-width: 1024px) {
      display: none;
    }
  }

  &__showOnDesktop {
    background: #ffffff;
    border: 2px solid $darkGreen;
    border-radius: 6px;
    padding: 10px 15px;
    margin: 20px 0;
    color: $darkGreen;
    text-transform: uppercase;
    font-family: "FuturaPTBold";
    &:hover {
      cursor: pointer;
    }
    display: none;
    align-self: flex-end;
    justify-self: center;

    @media screen and (min-width: 1024px) {
      display: block;
    }
  }
}

.transparent {
  background: transparent;
}

.small {
  font-size: 16px;
  padding: 8px 10px;
}

@media screen and (min-width: 600px) {
  .btn {
    font-size: 24px;
    border: 3px solid #005b26;
    border-radius: 10px;
    padding: 10px 25px;
  }
  .small {
    font-size: 16px;
    padding: 10px 12px;
  }
}
