@import "../../Utilities/variables.scss";

.introduce {
    padding: 20px;
    margin-top: 73px;

    &__header {
        font-family: 'FuturaPTBold';
        color: $pink;
        margin-bottom: 40px;
        font-size: 20px;
    }

    &__text {
        font-size: 1em;
        color: $darkGreen;
        font-family: 'FuturaPTHeavy';
        font-size: 14px;

        p {
            margin: 20px 0px;
        }

    }

    .bold {
        font-family: 'FuturaPTExtraBold';
    }
}

@media screen and (min-width: 600px) {
    .introduce__text {
        .image {
            transform: translateY(-150px);
        }
    }
}