@import "../../Utilities/variables.scss";
@import "../../Utilities/utilities.scss";

.menu {
    font-size: 15px;
    position: sticky;
    z-index: 10;
    top: 0;
    left: 0;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
    z-index: 10;
    background-image : linear-gradient(180deg, #FF9B4D, #FFF 40%, #FFF 60%, #FF9B4D 100%);


    &__option {
        font-family: 'FuturaPTHeavy', sans-serif;
        color: $darkGreen;
        text-align: center;
        text-decoration: none;
        &:hover{
            cursor: pointer;
        }
    }
    &__option_active {
        font-family: 'FuturaPTBold', sans-serif;
    }

    &__links {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 20;
        flex-direction: column;
        gap: 15px;
    }

    &__close {
        position: absolute;
        top: 40px;
        right: 35px;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
    }

    .close__barP,
    .close__barL {
        width: 30px;
        height: 3px;
        border-radius: 20px;
        background-color: $darkGreen;
        transform-origin: 35%;
    }

    .close__barP {
        transform-origin: center;
        transform: rotate(43deg);
    }
    .close__barL {
        transform: rotate(-43deg);
    }
}

.navbar {
    position: sticky;
    top: 0;
    padding: 20px;
    min-height: 150px;
    background: linear-gradient(180deg, #FF9B4D 23.44%, #FFFFFF 100%);
    @include flexB;
    z-index: 10;

    &__logo {
        width: clamp(190px, 40%, 416px);
        height: 98px;

        img {
            width: 100%;
        }
    }

    &__handle {
        width: 30px;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;

        .handle__element {
            height: 5px;
            background-color: $darkGreen;
            border-radius: 20px;
        }
    }

    .links__wide {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    .navbar {
        gap: 30px;

        &__handle {
            display: none;
        }

        .links__wide {
            width: 50%;
            display: flex;
            justify-content: space-around;
        }
    }
}

