@import "../../Utilities/variables.scss";

.fundamentals {
  font-size: 12px;
  padding: 20px;

  &__header {
    font-family: "FuturaPTBold";
    color: $pink;
    margin-bottom: 40px;
    margin: 0;
    text-transform: uppercase;
    font-size: 20px;
  }

  .content {
    font-family: "FuturaPTBold";
    &__element {
      display: flex;
      align-items: center;
      gap: 20px;
      background: linear-gradient(
        180deg,
        rgba(243, 155, 155, 0.54) 0%,
        rgba(255, 255, 255, 0.52) 100%
      );
      border: 2px solid #f39b9b;
      border-radius: 7px;
      padding: 21px 17px;
      margin: 11px 0px;

      .image {
        width: 40px;
        height: 40px;
        flex-basis: 20%;
      }

      .text {
        text-align: center;
        font-family: "FuturaPTBold";
        font-size: 0.85em;
        color: $darkGreen;

        .bold {
          font-family: "FuturaPTExtraBold";
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .fundamentals {
    &__header {
      font-size: 48px;
      text-align: center;
    }
    .content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 27px;

      &__desktop{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        max-width: 1600px;
      }
      &__element {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 50px;
        border: 8px solid #f39b9b;
        border-radius: 20px;
        width: 250px;
        min-height: 250px;

        .text {
          font-size: 15px;
        }

        .image {
          width: 75px;
          height: 82px;
          aspect-ratio: 1;
        }
      }
    }
  }
}
