@import "../../Utilities/variables.scss";

.fundamentals {
  font-size: 12px;
  width: 100vw;
  padding: 20px;

  &__header {
    font-family: "FuturaPTBold";
    color: $pink;
    margin-bottom: 40px;
    margin: 0;
  }

  .content {
    padding: 20px;
    width: min(100%, 1100px);
    margin: 0px auto;

    &__element {
      display: flex;
      align-items: center;
      background: linear-gradient(
        180deg,
        rgba(243, 155, 155, 0.54) 0%,
        rgba(255, 255, 255, 0.52) 100%
      );
      border: 2px solid #f39b9b;
      border-radius: 7px;
      padding: 21px 17px;
      margin: 11px 0px;

      .image {
        flex-basis: 20%;
      }

      .text {
        text-align: center;
        width: 85%;
        font-family: "FuturaPTMedium";
        font-size: 0.85em;
        color: $darkGreen;

        .bold {
          font-family: "FuturaPTBold";
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .content {
    gap: 15px;
    flex-wrap: wrap;

    //      DLACZEGO NIE DZIAŁAJĄ MI MEDIA ?
    &__element {
      width: min(328px, 40%);
      aspect-ratio: 1/1;
      flex-direction: column;
      gap: 10px;
      padding: 20px;
      height: 200px;

      .image {
        width: 40px;
        aspect-ratio: 1;
      }
    }
  }
}
