@font-face {
  font-family: "FuturaPTBold";
  src: url("./assets/Fonts/FuturaPTBold.otf");
}
@font-face {
  font-family: "Futura PT";
  src: url("./assets/Fonts/FuturaPTBook.otf");
}
@font-face {
  font-family: "Futura PT";
  src: url("./assets/Fonts/FuturaPTDemi.otf");
}
@font-face {
  font-family: "FuturaPTExtraBold";
  src: url("./assets/Fonts/FuturaPTExtraBold.otf");
}
@font-face {
  font-family: "FuturaPTHeavy";
  src: url("./assets/Fonts/FuturaPTHeavy.otf");
}
@font-face {
  font-family: "FuturaPTMedium";
  src: url("./assets/Fonts/FuturaPTMedium.otf");
}

body {
  margin: 0;
  font-family: "Futura PT";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
